.about__card {
  background-color: rgba(233, 230, 230, 0.7);
  border-radius: 9px;
  color: rgb(19, 18, 18);
  padding: 3rem;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  h3 {
    text-transform: uppercase;
    margin: 0.7rem 0;
    // color: var(--color-primary-pink);
  }
}
