// .headFixed {
//   // overflow: hidden;
//   background-color: white;
//   width: 100vw;
//   position: fixed;
//   // top: 10rem;
//   left: 0;
//   z-index: 100;
//   margin-bottom: 80rem;
// }
.nav {
  display: flex;
  box-sizing: border-box;
  padding: 0 1rem;
  align-items: center;
  border-bottom: 1px solid rgb(214, 225, 226);
  box-sizing: border-box;
  & li:first-child {
    flex: 1;
  }
  @media (max-width: 600px) {
    justify-content: space-evenly;
  }

  &__item {
    font-size: 1.7rem;
    list-style: none;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    @media (max-width: 500px) {
      font-size: 0.7rem;
    }
    &:not(:last-child) {
      margin-right: 3.3rem;
      @media (max-width: 350px) {
        margin-right: 2rem;
      }
    }
    & img {
      width: 5.5rem;
      margin-bottom: 0 !important;
      @media (max-width: 350px) {
        width: 4rem;
      }
    }
    & a {
      color: black;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 600;

      @media (max-width: 400px) {
        font-size: 1.4rem;
      }

      &:hover,
      &:active,
      .active {
        color: red;
        border-bottom: 2px solid red;
      }
    }

    &-menuIcon {
      flex: 1;
      @media (max-width: 500px) {
        height: 3.5rem;
        width: 3.5rem;
      }
      @media (max-width: 400px) {
        height: 3rem;
        width: 3rem;
      }
      @media (max-width: 350px) {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  &__itemBtn {
    // background-color: rgb(210, 35, 129);
    // background-color: rgb(255, 0, 106);
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    border-radius: 3px;
    // width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;

    // height: 3.6rem;
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a:visited,
    a:link {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      border: none;
    }
  }

  // &__itemContact {
  //   flex: 1;
  // }
}

// .nav__itemBtn--span {
//   display: flex;
//   margin-right: 5px;
//   align-items: center;
//   &:last-child {
//     background-color: #fff;
//     width: 1.7rem;
//     height: 1.7rem;
//     color: black;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
//     transform: translateY(2px);
//     font-size: 1.5rem;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//   }
// }
